* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 192, 167);
}
.card_container {
  height: 400px;
  width: 550px;
  border-radius: 10px;
  display: flex;
  background-color: bisque;
}
.img {
  width: 250px;
  height: 400px;
  border-radius: 10px 0px 0px 10px;
}
.price {
  margin-top: 8%;
  display: flex;
  justify-content: center;
}
.p1 {
  font-family: "Mulish";
  font-size: 17px;
  margin-top: 10px;
}

.p3 {
  font-family: "Mulish";
}

h1 {
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 20px;
}
.right {
  margin-left: 35px;
}
.h2 {
  color: green;
  font-size: 40px;
}
.p3 {
  margin-top: 20px;
  font-family: 'Mulish';
  font-size: 14px;
  
}
.sp {
  display: flex;
  margin-top: 20px;
}
.p2 {
  margin-left: 25px;
  margin-top: 10px;
  text-decoration-line: line-through;
}
.btn {
  background-color: rgba(7, 110, 21, 0.848);
  width: 200px;
  height: 45px;
  margin: 0 auto;
  border-radius: 13px;
  border: none;
  color: bisque;
  font-size: 15px;
  margin-top: 15px;
}
